Repository Mideli37/js-fe-2024: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -luw, eslint --fix --max-warnings 0, stylelint --fix --mw 0

.lintstagedrc.json:

{
  "*": "prettier -luw",
  "*.ts": "eslint --fix --max-warnings 0",
  "*.css": "stylelint --fix --mw 0"
}

Updates
  async-race/index.html
  async-race/main-05373c9d452b017fc866.js
  async-race/main-1f8a52c581b8b7d171a9.css
  async-race/main-ad5bd1e0f144fbd2f979.js
  async-race/main-c683ccc4c01cc3c29322.css
Due: prettier -luw, stylelint --fix --mw 0

fix: resolve bug with car deletion
  src/api/index.ts
  src/pages/garage/Car-track.ts
Due: prettier -luw, eslint --fix --max-warnings 0

fix: change animation to preserve responsive design
  src/assets/corgi.ts
  src/lib/animations.ts
  src/pages/garage/Car-track.ts
Due: prettier -luw, eslint --fix --max-warnings 0

fix: change winner table width
  src/pages/winners/index.ts
Due: prettier -luw, eslint --fix --max-warnings 0

Updates
  async-race/index.html
  async-race/main-05373c9d452b017fc866.js
  async-race/main-1f8a52c581b8b7d171a9.css
  async-race/main-a228b322bee353188c4d.js
  async-race/main-c0ee2358074e1c744778.css
Due: prettier -luw, stylelint --fix --mw 0

fix: RSS-PZ-36 add linter to prepush
  .eslintignore
  .husky/pre-push
Due: prettier -luw

refactor: rename function
  src/lib/animations.ts
Due: prettier -luw, eslint --fix --max-warnings 0

refactor: move createButton function to a new file
  src/helpers/create-button.ts
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: prettier -luw, eslint --fix --max-warnings 0

refactor: remove magic number
  src/api/index.ts
  src/pages/garage/index.ts
Due: prettier -luw, eslint --fix --max-warnings 0

Updates
  async-race/index.html
  async-race/main-237b9ab70505af75cb9e.js
  async-race/main-a228b322bee353188c4d.js
Due: prettier -luw

init: start task
  .eslintignore
  .eslintrc.json
  .github/pull_request_template.md
  .gitignore
  .husky/pre-commit
  .lintstagedrc.mjs
  .prettierrc.json
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  postcss.config.ts
  public/favicon.png
  src/index.html
  src/index.ts
  tailwind.config.ts
  tsconfig.json
  webpack.config.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add login form
  package-lock.json
  package.json
  src/assets/background.jpg
  src/components/login-form/Login-form.ts
  src/components/login-form/Login-input-component.ts
  src/components/login-form/login-info.schema.ts
  src/helpers/create-element.ts
  src/index.html
  src/index.ts
  src/style.css
Due: prettier -luw, eslint --fix --max-warnings 0, stylelint --fix --mw 0

feat: add websocket service
  src/app/index.ts
  src/components/dialog/Diaolog.ts
  src/components/login-form/Login-form.ts
  src/helpers/JSON.schema.ts
  src/index.ts
  src/services/server-response.schema.ts
  src/services/websocket-service.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add main page
  src/app/index.ts
  src/assets/rs-school-logo.svg
  src/assets/shimmer.d.ts
  src/components/dialog/Dialog.ts
  src/components/footer/Footer.ts
  src/components/header/Header.ts
  src/pages/entry/index.ts
  src/pages/main/index.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add router
  package-lock.json
  package.json
  src/app/index.ts
  src/assets/shimmer.d.ts
  src/pages/entry/index.ts
  src/pages/main/index.ts
  src/services/router.ts
  src/services/server-response.schema.ts
  src/services/string-to-json.schema.ts
  tsconfig.json
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add logout functionality
  src/app/index.ts
  src/components/header/Header.ts
  src/pages/main/index.ts
  src/services/router.ts
  src/services/server-response.schema.ts
  src/services/websocket-service.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add section with search and users list
  src/app/index.ts
  src/components/login-form/login-info.schema.ts
  src/components/user-list-section/User-list-item.ts
  src/components/user-list-section/User-list-section.ts
  src/pages/main/index.ts
  src/services/server-response.schema.ts
  src/services/websocket-service.ts
  src/style.css
Due: prettier -luw, eslint --fix --max-warnings 0, stylelint --fix --mw 0

feat: add chat for main page
  src/components/chat/Chat.ts
  src/components/user-list-section/User-list-item.ts
  src/components/user-list-section/User-list-section.ts
  src/pages/main/index.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add msg display
  src/components/chat/Chat.ts
  src/components/message/Message-section.ts
  src/components/message/Message.ts
  src/pages/main/index.ts
  src/services/server-response.schema.ts
  src/services/websocket-service.ts
Due: prettier -luw, eslint --fix --max-warnings 0

feat: add displaing of all message history
  src/components/chat/Chat.ts
  src/components/message/Message-section.ts
  src/components/message/Message.ts
  src/components/user-list-section/User-list-section.ts
  src/pages/main/index.ts
  src/services/server-response.schema.ts
  src/services/websocket-service.ts
Due: prettier -luw, eslint --fix --max-warnings 0

Updates
  presentation/apps-build-with-electron.png
  presentation/assets/index-7b8dd3de.css
  presentation/assets/index-95953574.js
  presentation/assets/source-sans-pro-italic-05d3615f.woff
  presentation/assets/source-sans-pro-italic-ad4b0799.eot
  presentation/assets/source-sans-pro-italic-d13268af.ttf
  presentation/assets/source-sans-pro-regular-c1865d89.ttf
  presentation/assets/source-sans-pro-regular-d4eaa48b.woff
  presentation/assets/source-sans-pro-regular-dce8869d.eot
  presentation/assets/source-sans-pro-semibold-a53e2723.ttf
  presentation/assets/source-sans-pro-semibold-b0abd273.woff
  presentation/assets/source-sans-pro-semibold-ebb8918d.eot
  presentation/assets/source-sans-pro-semibolditalic-7225cacc.woff
  presentation/assets/source-sans-pro-semibolditalic-dfe0b47a.eot
  presentation/assets/source-sans-pro-semibolditalic-e8ec22b6.ttf
  presentation/electron-arch.jpg
  presentation/electron-icon-472x512-8swdbwbh.png
  presentation/index.html
Due: prettier -luw, stylelint --fix --mw 0

Updates
  presentation/assets/index-4d4933df.js
  presentation/assets/index-7b8dd3de.css
  presentation/assets/index-a2ded861.css
  presentation/index.html
Due: prettier -luw, stylelint --fix --mw 0

init: start task
  .gitignore
  index.html
  package-lock.json
  package.json
  presentation.md
  public/apps-build-with-electron.png
  public/electron-arch.jpg
  public/electron-icon-472x512-8swdbwbh.png
  src/main.js
Due: prettier -luw

fix: change broken link
  presentation.md
Due: prettier -luw

Update README.md
  README.md
Due: prettier -luw

Create README.md
  README.md
Due: prettier -luw
