Repository Mideli37/js-fe-2024: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

.lintstagedrc.json:

{
  "*": "npm run ci:format",
  "*.ts": "eslint --report-unused-disable-directives --max-warnings 0",
  "*.css": "stylelint --mw 0"
}

refactor: RSS-PZ 00 init project
  .commitlintrc.json
  .eslintrc.json
  .github/pull_request_template.md
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  .validate-branch-namerc.json
  package-lock.json
  package.json
  tailwind.config.ts
  tsconfig.json
  webpack.config.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-01 implement login form
  src/app/app.ts
  src/assets/background.jpg
  src/components/Login-form.ts
  src/helpers/create-element.ts
  src/index.html
  src/index.ts
  src/page/entry/index.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: RSS-PZ-02 implement validation
  src/components/Login-form.ts
  src/components/login-form/Input-component.ts
  src/components/login-form/Login-form.ts
  src/page/entry/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-03 create local storage service
  package-lock.json
  package.json
  src/components/login-form/Input-component.ts
  src/components/login-form/Login-form.ts
  src/services/JSON.schema.ts
  src/services/Local-storage.service.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

build: RSS-PZ-34 build project
  .commitlintrc.json
  .eslintrc.json
  .validate-branch-namerc.json
  package.json
Due: npm run ci:format

RSS-PZ-04 implement logout process
  src/app/app.ts
  src/components/login-form/Login-form.ts
  src/components/login-form/Logout-button.ts
  src/page/entry/index.ts
  src/page/start/index.ts
  src/services/Local-storage.service.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: RSS-PZ-05 design start screen
  src/components/login-form/Logout-button.ts
  src/page/start/index.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: RSS-PZ-06 add personalized greeting
  src/app/app.ts
  src/components/login-form/Login-form.ts
  src/index.ts
  src/page/entry/index.ts
  src/page/start/index.ts
  src/services/login-info.schema.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-07 add start button
  src/app/app.ts
  src/page/main/index.ts
  src/page/start/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-08 add interactive word cards
  src/app/app.ts
  src/components/game/Game.ts
  src/helpers/get-word-cards.ts
  src/page/main/index.ts
  src/round-data-example.json
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-09 add dynamic sizing for cards
  src/components/game/Game.ts
  src/helpers/get-word-cards.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: RSS-PZ-10 enable reversible interaction with word cards
  src/components/game/Game.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

RSS-PZ-12 implement check button
  src/components/game/Card.ts
  src/components/game/Game.ts
  src/helpers/get-word-cards.ts
  src/page/main/index.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

RSS-PZ-11 implement continue button
  src/components/game/Card.ts
  src/components/game/Game.ts
  src/helpers/fetch-word-collection-by-lvl.ts
  src/page/main/index.ts
  src/round-data-example.json
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

RSS-PZ-34 build project
  .eslintrc.json
  package.json
Due: npm run ci:format

feat: RSS-PZ-13 transform check button to continue
  src/components/game/Game.ts
  src/page/main/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: RSS-PZ-14 implement auto complete
  .eslintrc.json
  src/components/game/Game.ts
  src/page/main/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

RSS-PZ-35 add smooth animations
  src/components/game/Game.ts
  src/helpers/animations.ts
  src/page/main/index.ts
  src/style.css
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

Updates
  rss-puzzle/4e27e8988d85d082e5bd.jpg
  rss-puzzle/index.html
  rss-puzzle/main-c8952edbbbec2768589e.css
  rss-puzzle/main-cc54997393c49e50e450.js
  rss-puzzle/puzzle.png
Due: npm run ci:format, stylelint --mw 0

init: start task
  .eslintignore
  .eslintrc.json
  .github/pull_request_template.md
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc.json
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  postcss.config.ts
  public/favicon.jpg
  src/index.html
  src/index.ts
  src/main.css
  tailwind.config.ts
  tsconfig.json
  webpack.config.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: implement api service
  package-lock.json
  package.json
  src/api/index.ts
  src/lib/JSON.schema.ts
  tsconfig.json
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add ui for garage page
  src/app/index.ts
  src/helpers/create-element.ts
  src/index.ts
  src/main.css
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

feat: add car class
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: implement display of cars from server
  src/app/index.ts
  src/index.ts
  src/lib/car-list.schema.ts
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add generation and rerender of cars
  src/api/index.ts
  src/app/index.ts
  src/helpers/get-random-color.ts
  src/helpers/get-random-name.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add car creation via inputs
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: implement car update
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: implement car deletion
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add pagination
  src/main.css
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

fix: add logic for delete of selected car
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

fix: resolve bug with page dublication
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add engine controllers
  src/api/index.ts
  src/lib/animations.ts
  src/lib/velocity.schema.ts
  src/pages/garage/Car-track.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add race controllers
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

feat: add logic for race and winner announcement
  src/api/index.ts
  src/main.css
  src/pages/garage/Car-track.ts
  src/pages/garage/Dialog.ts
  src/pages/garage/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

Updates
  async-race/favicon.jpg
  async-race/index.html
  async-race/main-51293470ad020acf5f9d.js
  async-race/main-71ed65684e3a8576aa40.css
Due: npm run ci:format, stylelint --mw 0

feat: add winners view
  .eslintrc.json
  src/api/index.ts
  src/app/index.ts
  src/lib/car-list.schema.ts
  src/main.css
  src/pages/garage/index.ts
  src/pages/winners/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0, stylelint --mw 0

Updates
  async-race/index.html
  async-race/main-0549a455b79b45e9d430.js
  async-race/main-51293470ad020acf5f9d.js
  async-race/main-71ed65684e3a8576aa40.css
  async-race/main-c683ccc4c01cc3c29322.css
Due: npm run ci:format, stylelint --mw 0

feat: impement update of wins
  src/api/index.ts
  src/app/index.ts
  src/pages/garage/index.ts
  src/pages/winners/index.ts
  src/pages/winners/winner.schema.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0

Updates
  async-race/index.html
  async-race/main-0549a455b79b45e9d430.js
  async-race/main-ad5bd1e0f144fbd2f979.js
Due: npm run ci:format

fix: add logic for delete winner after car delete
  src/assets/corgi.ts
  src/lib/animations.ts
  src/pages/garage/Car-track.ts
  src/pages/garage/index.ts
  src/pages/winners/index.ts
Due: npm run ci:format, eslint --report-unused-disable-directives --max-warnings 0
